[Desktop Entry]
Name=Audex
GenericName=CDDA Extraction
GenericName[de]=Audio-CDs auslesen
Exec=audex
Icon=audex
Type=Application
MimeType=application/x-audex;
Categories=Qt;KDE;AudioVideo;
Terminal=false
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=audex
Comment=Rip audio data from your audio cd's
Comment[de]=Rippt Audio-CDs