[Desktop Entry]
Encoding=UTF-8
Name=Audex
GenericName=CDDA Extraction
Exec=audex
Icon=audex
Type=Application
MimeType=application/x-audex;
Categories=Qt;KDE;AudioVideo;
Terminal=false
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=audex
X-KDE-StartupNotify=true
Comment=Rip audio data from your audio cd's