[Desktop Entry]
Name=Audex
GenericName=CDDA Extraction
GenericName[de]=Audio-CDs auslesen
GenericName[it]=Estrazione e codifica CDDA
Exec=audex
Icon=audex
Type=Application
MimeType=application/x-audex;
Categories=Qt;KDE;AudioVideo;
Terminal=false
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=audex
Comment=Rip audio data from your audio cd's
Comment[de]=Rippt Audio-CDs
Comment[it]=Estrae e codifica le canzoni dai tuoi CD audio
